In [1]:
import pandas as pd
import numpy as np

In [2]:
filename = './MobiFall_Dataset_v2.0/sub1/FALLS/SDL/SDL_ori_1_3.txt'

In [3]:
df =  pd.read_csv(filename, skiprows=16, header=None)

In [4]:
df.head()

               0          1          2         3
0  2263734564000  231.59665   8.406437 -65.78639
1  2263739503000  231.88106  10.277120 -68.14765
2  2263744482000  231.48561   8.862655 -65.99789
3  2263749482000  258.91132  11.825000 -66.32058
4  2263754447000  260.28268  12.254481 -66.41949

By observing the dataset, we got 3 type of files for activity
['ori', 'acc', 'gyro']

filename = <b>'{actvity_name}__{feature_type}_{filename}.txt'<b>

For Example=> BSC_gyro_1_1.txt

In [5]:
acc_columns = ['timestamp','x','y','z(m/s^2)']

In [6]:
ori_columns = ['timestamp', 'Azimuth' , 'Pitch', 'Roll']

In [7]:
gyro_columns = ['timestamp','g_x','g_y','z(rad/s)']

In [8]:
dataset_path = './dataset/MobiFall_Dataset_v2.0'

In [9]:
import glob
class DataGenerator():
    
    _data = []
    
    def __init__(self, dataset_path):
        self._datafiles = glob.glob('./dataset/*/*/*/*/*.txt')
        
        
    def get_data_files(self):
        return self._datafiles

In [10]:
generator = DataGenerator('mayur')

In [11]:
len(generator.get_data_files())

1890

In [12]:
generator.get_data_files()[0].split('/')[-1].split('_')

['BSC', 'ori', '15', '3.txt']

In [13]:
ADL, SENSOR_CODE, SUBJECT_ID, TRIAL_NO = generator.get_data_files()[0].split('/')[-1].split('_')

In [14]:
SUBJECT_ID

'15'

In [17]:
ori_Df = pd.DataFrame(columns=ori_columns)
acc_Df = pd.DataFrame(columns=acc_columns)
gyro_Df = pd.DataFrame(columns=gyro_columns)
dataDf = pd.DataFrame(columns=['subject_id', 'trial_id', 'activity', 'timestamp'])

for file in generator.get_data_files():
    ADL, SENSOR_CODE, SUBJECT_ID, TRIAL_NO = file.split('/')[-1].split('_')
    columns = None
    if SENSOR_CODE == 'acc':
        df = pd.read_csv(file, skiprows=16, names=acc_columns, nrows=5)
        df['activity'] = ADL
        df['subject_id'] = SUBJECT_ID
        df['trial_id'] = TRIAL_NO.split('.')[0]
        acc_Df = acc_Df.append(df, ignore_index=True, sort=True) 
        dataDf = dataDf.append(df, ignore_index=True, sort=True) 
    elif SENSOR_CODE == 'ori':
        df = pd.read_csv(file, skiprows=16, names=ori_columns, nrows=5)
        df['activity'] = ADL
        df['subject_id'] = SUBJECT_ID
        df['trial_id'] = TRIAL_NO.split('.')[0]
        ori_Df = ori_Df.append(df, ignore_index=True, sort=True)
        dataDf = dataDf.append(df, ignore_index=True, sort=True) 
    elif SENSOR_CODE == 'gyro':
        df = pd.read_csv(file, skiprows=16, names=gyro_columns, nrows=5)
        df['activity'] = ADL
        df['trial_id'] = TRIAL_NO.split('.')[0]
        df['subject_id'] = SUBJECT_ID
        gyro_Df = gyro_Df.append(df, ignore_index=True, sort=True)
        dataDf = dataDf.append(df, ignore_index=True, sort=True) 
    else:
        print('Unwanted data detected!! => {}'.format(file))

In [18]:
ori_Df.head()

     Azimuth      Pitch       Roll activity subject_id      timestamp trial_id
0  19.273499  174.40622  31.021011      BSC         15  2571632215000        3
1  19.274391  174.41716  31.022657      BSC         15  2571638275000        3
2  19.495820  174.16460  31.328773      BSC         15  2571642239000        3
3  19.738337  173.89550  31.626282      BSC         15  2571647220000        3
4  19.999420  173.62091  31.921803      BSC         15  2571652295000        3

In [19]:
gyro_Df.head()

  activity       g_x       g_y subject_id      timestamp trial_id  z(rad/s)
0      BSC -1.132239  0.722959         15  2541169805000        2  0.040928
1      BSC -1.132239  0.744950         15  2541174716000        2  0.037263
2      BSC -1.179581  0.737620         15  2541179712000        2  0.030849
3      BSC -1.172250  0.735787         15  2541184711000        2  0.032376
4      BSC -1.171334  0.743423         15  2541189705000        2  0.040623

In [20]:
acc_Df.head()

  activity subject_id      timestamp trial_id         x         y  z(m/s^2)
0      BSC         15  2571666589000        3 -0.191536 -9.710882  0.775721
1      BSC         15  2571677513000        3 -0.191536 -9.672575  0.766145
2      BSC         15  2571687386000        3 -0.153229 -9.634268  0.804452
3      BSC         15  2571696904000        3 -0.105345 -9.586384  0.852336
4      BSC         15  2571708779000        3 -0.076614 -9.548077  0.909797

In [21]:
"Shape ori Df = "+str(ori_Df.shape)+ " Shape of acc Df = "+str(acc_Df.shape)+ " Shape of gyro Df "+str(gyro_Df.shape)

'Shape ori Df = (3150, 7) Shape of acc Df = (3150, 7) Shape of gyro Df (3150, 7)'

In [22]:
ori_Df.describe()

           Azimuth        Pitch         Roll
count  3150.000000  3150.000000  3150.000000
mean    166.288920   -45.768734    -1.416134
std     117.776278    60.502902    30.607144
min     -76.675690  -179.429670   -79.536200
25%      51.011089   -83.991836   -24.643817
50%     170.024545   -27.206670    -0.371725
75%     274.702180    -7.386740    18.439418
max     359.997530   179.559710    78.081100

In [23]:
gyro_Df.describe()

               g_x          g_y     z(rad/s)
count  3150.000000  3150.000000  3150.000000
mean     -0.846109     0.648202     0.042184
std       3.260281     2.542731     2.438118
min      -9.938472    -9.975430    -9.889603
25%      -1.189966     0.740980     0.030849
50%      -1.176526     0.749226     0.034056
75%      -1.167363     0.759000     0.036957
max       9.977568    10.004140     9.995282

In [24]:
acc_Df.describe()

                 x            y     z(m/s^2)
count  3150.000000  3150.000000  3150.000000
mean     -0.218746     7.907703     0.344792
std       2.683718     4.756675     2.505962
min      -9.624691   -10.065224   -12.928689
25%      -1.388637     9.157821    -1.015142
50%      -0.124498     9.691729    -0.086191
75%       1.024718     9.854534     0.766145
max      14.422671    18.042704    10.228029

In [25]:
gyro_Df['trial_id'].unique()

array(['2', '1', '3', '6', '4', '5'], dtype=object)

In [26]:
dataDf.shape

(9450, 13)

In [27]:
dataDf.head()

,Azimuth,Pitch,Roll,activity,g_x,g_y,subject_id,timestamp,trial_id,x,y,z(m/s^2),z(rad/s)
0,19.273499,174.40622,31.021011,BSC,NaN,NaN,15,2571632215000,3,NaN,NaN,NaN,NaN
1,19.274391,174.41716,31.022657,BSC,NaN,NaN,15,2571638275000,3,NaN,NaN,NaN,NaN
2,19.495820,174.16460,31.328773,BSC,NaN,NaN,15,2571642239000,3,NaN,NaN,NaN,NaN
3,19.738337,173.89550,31.626282,BSC,NaN,NaN,15,2571647220000,3,NaN,NaN,NaN,NaN
4,19.999420,173.62091,31.921803,BSC,NaN,NaN,15,2571652295000,3,NaN,NaN,NaN,NaN

In [28]:
dataDf['timestamp'].unique().shape

(6352,)

In [29]:
dataDf[dataDf.duplicated('timestamp') == True]

,Azimuth,Pitch,Roll,activity,g_x,g_y,subject_id,timestamp,trial_id,x,y,z(m/s^2),z(rad/s)
30,67.015450,125.523610,19.269753,BSC,NaN,NaN,15,2541169805000,2,NaN,NaN,NaN,NaN
31,66.668070,126.123505,19.890772,BSC,NaN,NaN,15,2541174716000,2,NaN,NaN,NaN,NaN
32,66.847330,125.838680,19.744497,BSC,NaN,NaN,15,2541179712000,2,NaN,NaN,NaN,NaN
33,67.038040,125.539894,19.597692,BSC,NaN,NaN,15,2541184711000,2,NaN,NaN,NaN,NaN
34,67.232475,125.253330,19.447927,BSC,NaN,NaN,15,2541189705000,2,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,BSC,-1.176526,0.748921,15,885324694000,1,NaN,NaN,NaN,0.032987
36,NaN,NaN,NaN,BSC,-1.176526,0.762971,15,885329813000,1,NaN,NaN,NaN,0.027489
37,NaN,NaN,NaN,BSC,-1.192714,0.766636,15,885334618000,1,NaN,NaN,NaN,0.033598
38,NaN,NaN,NaN,BSC,-1.190576,0.757167,15,885339606000,1,NaN,NaN,NaN,0.038485
39,NaN,NaN,NaN,BSC,-1.196074,0.746477,15,885344610000,1,NaN,NaN,NaN,0.033598
40,NaN,NaN,NaN,BSC,-1.171029,0.737620,15,2571632215000,3,NaN,NaN,NaN,0.036041
41,NaN,NaN,NaN,BSC,-1.171029,0.751670,15,2571638275000,3,NaN,NaN,NaN,0.037874
42,NaN,NaN,NaN,BSC,-1.185689,0.762665,15,2571642239000,3,NaN,NaN,NaN,0.032987
43,NaN,NaN,NaN,BSC,-1.181719,0.752586,15,2571647220000,3,NaN,NaN,NaN,0.032376
44,NaN,NaN,NaN,BSC,-1.183551,0.746783,15,2571652295000,3,NaN,NaN,NaN,0.033292
55,17.009594,-11.027809,-16.093050,FKL,NaN,NaN,15,2240102411000,1,NaN,NaN,NaN,NaN
56,17.014180,-11.024084,-16.095947,FKL,NaN,NaN,15,2240107398000,1,NaN,NaN,NaN,NaN
57,17.300692,-10.158835,-16.456076,FKL,NaN,NaN,15,2240112423000,1,NaN,NaN,NaN,NaN
58,17.603440,-9.309483,-16.816006,FKL,NaN,NaN,15,2240117290000,1,NaN,NaN,NaN,NaN
59,17.918070,-8.477526,-17.173885,FKL,NaN,NaN,15,2240122423000,1,NaN,NaN,NaN,NaN
75,NaN,NaN,NaN,FKL,-4.370741,-9.199631,15,2310760900000,3,NaN,NaN,NaN,-6.054286
76,NaN,NaN,NaN,FKL,-4.370741,0.749532,15,2310765860000,3,NaN,NaN,NaN,0.036957
77,NaN,NaN,NaN,FKL,-1.163393,0.762971,15,2310770861000,3,NaN,NaN,NaN,0.035125
78,NaN,NaN,NaN,FKL,-1.183551,0.751364,15,2310776032000,3,NaN,NaN,NaN,0.035430
79,NaN,NaN,NaN,FKL,-1.181108,0.737925,15,2310780839000,3,NaN,NaN,NaN,0.028100
85,13.857996,176.012560,-30.354866,FKL,NaN,NaN,15,2273477366000,2,NaN,NaN,NaN,NaN
86,12.884475,175.510910,-28.418894,FKL,NaN,NaN,15,2273482353000,2,NaN,NaN,NaN,NaN
87,13.432926,175.766280,-30.007183,FKL,NaN,NaN,15,2273487390000,2,NaN,NaN,NaN,NaN
88,13.007428,175.603130,-29.672476,FKL,NaN,NaN,15,2273492341000,2,NaN,NaN,NaN,NaN
89,12.591001,175.338620,-29.337238,FKL,NaN,NaN,15,2273497440000,2,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9380,NaN,NaN,NaN,FOL,-1.162171,0.736398,31,6427565152000,3,NaN,NaN,NaN,0.040317
9381,NaN,NaN,NaN,FOL,-1.162171,0.753808,31,6427570155000,3,NaN,NaN,NaN,0.032987
9382,NaN,NaN,NaN,FOL,-1.188133,0.760833,31,6427575183000,3,NaN,NaN,NaN,0.032376
9383,NaN,NaN,NaN,FOL,-1.196379,0.754724,31,6427580152000,3,NaN,NaN,NaN,0.034208
9384,NaN,NaN,NaN,FOL,-1.187217,0.741896,31,6427585219000,3,NaN,NaN,NaN,0.035430
9385,NaN,NaN,NaN,FOL,-3.966959,1.643838,31,6392061705000,2,NaN,NaN,NaN,-6.015190
9386,NaN,NaN,NaN,FOL,-3.966959,6.114761,31,6392066869000,2,NaN,NaN,NaN,3.036000
9387,NaN,NaN,NaN,FOL,-8.246070,0.751364,31,6392071678000,2,NaN,NaN,NaN,0.030238
9388,NaN,NaN,NaN,FOL,-1.186911,0.764192,31,6392076665000,2,NaN,NaN,NaN,0.039401
9389,NaN,NaN,NaN,FOL,-1.187828,0.748921,31,6392081657000,2,NaN,NaN,NaN,0.035736
9400,9.477637,-20.632880,-20.906872,FOL,NaN,NaN,31,6357056450000,1,NaN,NaN,NaN,NaN
9401,9.474988,-20.627478,-20.911142,FOL,NaN,NaN,31,6357061428000,1,NaN,NaN,NaN,NaN
9402,8.922173,-20.849407,-20.735916,FOL,NaN,NaN,31,6357066407000,1,NaN,NaN,NaN,NaN
9403,8.377609,-21.084880,-20.563665,FOL,NaN,NaN,31,6357071399000,1,NaN,NaN,NaN,NaN
9404,7.850173,-21.313795,-20.394789,FOL,NaN,NaN,31,6357076393000,1,NaN,NaN,NaN,NaN
9410,NaN,NaN,NaN,SDL,-1.173167,0.732122,31,6582400244000,3,NaN,NaN,NaN,0.039095
9411,NaN,NaN,NaN,SDL,-1.173167,0.758084,31,6582405236000,3,NaN,NaN,NaN,0.035736
9412,NaN,NaN,NaN,SDL,-1.180802,0.762665,31,6582410191000,3,NaN,NaN,NaN,0.030238
9413,NaN,NaN,NaN,SDL,-1.187217,0.729373,31,6582415169000,3,NaN,NaN,NaN,0.036041
9414,NaN,NaN,NaN,SDL,-1.166753,0.738536,31,6582420175000,3,NaN,NaN,NaN,0.027489
9430,58.832120,-16.030607,50.309196,SDL,NaN,NaN,31,6511938072000,2,NaN,NaN,NaN,NaN
9431,58.807007,-16.026506,50.304190,SDL,NaN,NaN,31,6511943028000,2,NaN,NaN,NaN,NaN
9432,59.115010,-16.449537,50.008213,SDL,NaN,NaN,31,6511948024000,2,NaN,NaN,NaN,NaN
9433,59.436370,-16.880500,49.714100,SDL,NaN,NaN,31,6511952974000,2,NaN,NaN,NaN,NaN
9434,59.756245,-17.315930,49.396744,SDL,NaN,NaN,31,6511957993000,2,NaN,NaN,NaN,NaN
9445,NaN,NaN,NaN,SDL,7.913759,1.686904,31,6475724333000,1,NaN,NaN,NaN,6.875288
9446,NaN,NaN,NaN,SDL,7.913759,5.023756,31,6475729386000,1,NaN,NaN,NaN,7.434230
9447,NaN,NaN,NaN,SDL,-0.348804,0.739147,31,6475734377000,1,NaN,NaN,NaN,0.033292
9448,NaN,NaN,NaN,SDL,-1.171945,0.732122,31,6475739414000,1,NaN,NaN,NaN,0.030849
9449,NaN,NaN,NaN,SDL,-1.163087,0.746172,31,6475744407000,1,NaN,NaN,NaN,0.037874

In [30]:
TRAIN_FOR_SENSOR = 'acc'

def get_data(TRAIN_FOR_SENSOR):
    ori_Df = pd.DataFrame(columns=ori_columns)
    acc_Df = pd.DataFrame(columns=acc_columns)
    gyro_Df = pd.DataFrame(columns=gyro_columns)

    for file in generator.get_data_files():
        ADL, SENSOR_CODE, SUBJECT_ID, TRIAL_NO = file.split('/')[-1].split('_')
        
        if SENSOR_CODE != TRAIN_FOR_SENSOR:
            continue
        
        columns = None
        if SENSOR_CODE == 'acc' and TRAIN_FOR_SENSOR == 'acc':
            df = pd.read_csv(file, skiprows=16, names=acc_columns)
            df['activity'] = ADL
            df['subject_id'] = SUBJECT_ID
            df['trial_id'] = TRIAL_NO.split('.')[0]
            acc_Df = acc_Df.append(df, ignore_index=True, sort=True) 
        elif SENSOR_CODE == 'ori' and TRAIN_FOR_SENSOR == 'ori':
            df = pd.read_csv(file, skiprows=16, names=ori_columns)
            df['activity'] = ADL
            df['subject_id'] = SUBJECT_ID
            df['trial_id'] = TRIAL_NO.split('.')[0]
            ori_Df = ori_Df.append(df, ignore_index=True, sort=True)
        elif SENSOR_CODE == 'gyro' and TRAIN_FOR_SENSOR == 'gyro':
            df = pd.read_csv(file, skiprows=16, names=gyro_columns)
            df['activity'] = ADL
            df['trial_id'] = TRIAL_NO.split('.')[0]
            df['subject_id'] = SUBJECT_ID
            gyro_Df = gyro_Df.append(df, ignore_index=True, sort=True)
    
    
    if TRAIN_FOR_SENSOR == 'acc':
        return acc_Df
    elif TRAIN_FOR_SENSOR == 'ori':
        return ori_Df
    elif TRAIN_FOR_SENSOR == 'gyro':
        return gyro_Df
    else:
        return None

In [31]:
df = get_data(TRAIN_FOR_SENSOR)

In [32]:
df.head()

  activity subject_id      timestamp trial_id         x         y  z(m/s^2)
0      BSC         15  2571666589000        3 -0.191536 -9.710882  0.775721
1      BSC         15  2571677513000        3 -0.191536 -9.672575  0.766145
2      BSC         15  2571687386000        3 -0.153229 -9.634268  0.804452
3      BSC         15  2571696904000        3 -0.105345 -9.586384  0.852336
4      BSC         15  2571708779000        3 -0.076614 -9.548077  0.909797

In [33]:
df.shape

(1044765, 7)

In [34]:
rdf = df[100:110]

In [35]:
rdf.head()

    activity subject_id      timestamp trial_id         x         y  z(m/s^2)
100      BSC         15  2572712205000        3  2.537854 -7.479486 -2.193089
101      BSC         15  2572723068000        3  3.897760 -8.226477 -3.485958
102      BSC         15  2572733525000        3  5.257667 -9.797073 -4.759673
103      BSC         15  2572743819000        3  4.529829 -9.931149 -4.654328
104      BSC         15  2572754985000        3  3.131616 -9.356541 -3.744531

In [36]:
df['subject_id'].unique()

array(['15', '7', '11', '2', '16', '21', '10', '29', '13', '8', '3', '12',
       '6', '20', '18', '9', '5', '14', '17', '1', '19', '30', '4', '31'],
      dtype=object)

In [37]:
df[(df['subject_id'] == '1') & (df['trial_id'] == '1')].head()

,activity,subject_id,timestamp,trial_id,x,y,z(m/s^2)
905880,BSC,1,2318482693000,1,0.890643,-9.576807,-0.019154
905881,BSC,1,2318492108000,1,0.919373,-9.595961,-0.057461
905882,BSC,1,2318503365000,1,0.871489,-9.595961,-0.057461
905883,BSC,1,2318512831000,1,0.852336,-9.643845,-0.038307
905884,BSC,1,2318523222000,1,0.871489,-9.634268,-0.057461

In [38]:
df['trial_id'].unique()

array(['3', '2', '1', '4', '6', '5'], dtype=object)

In [39]:
df[(df['subject_id'] == '1') & (df['trial_id'] == '1') & (df['activity'] == 'BSC')].shape

(863, 7)

In [40]:
df[(df['subject_id'] == '1')].shape

(9816, 7)

In [95]:
df[(df['subject_id'] == '1')].head()

,activity,subject_id,timestamp,trial_id,x,y,z(m/s^2)
905880,BSC,1,2318482693000,1,0.890643,-9.576807,-0.019154
905881,BSC,1,2318492108000,1,0.919373,-9.595961,-0.057461
905882,BSC,1,2318503365000,1,0.871489,-9.595961,-0.057461
905883,BSC,1,2318512831000,1,0.852336,-9.643845,-0.038307
905884,BSC,1,2318523222000,1,0.871489,-9.634268,-0.057461

In [183]:

import random
class MobiFallGenerator(object):
    acc_columns = ['timestamp', 'x', 'y', 'z(m/s^2)']
    ori_columns = ['timestamp', 'Azimuth', 'Pitch', 'Roll']
    gyro_columns = ['timestamp', 'g_x', 'g_y', 'z(rad/s)']
    common_cols = ['activity', 'subject_id', 'trial_id', 'timestamp']
    label_map = {
        'STD': 0,
        'WAL': 1,
        'JOG': 2,
        'JUM': 3,
        'STU': 4,
        'STN': 5,
        'SCH': 6,
        'CSI': 7,
        'CSO': 8,
        'FOL': 9,
        'FKL': 10,
        'BSC': 11,
        'SDL': 12
    }

    def label_to_numeric(self, row):
        return self.label_map[row]

    def __init__(self, dataset_pattern_path, train_for='acc', extract_data_size=30):
        self._datafiles = glob.glob(dataset_pattern_path)
        self._extract_data_size = extract_data_size
        self._train_for = train_for
        self._target_subject_id = '1'

        if self._train_for == 'acc':
            self._all_data = pd.DataFrame(columns=self.acc_columns)
            self.columns = self.acc_columns
        elif self._train_for == 'ori':
            self._all_data = pd.DataFrame(columns=self.ori_columns)
            self.columns = self.ori_columns
        elif self._train_for == 'gyro':
            self._all_data = pd.DataFrame(columns=self.gyro_columns)
            self.columns = self.gyro_columns

        self.cols_to_train = [column for column in self.columns if column not in self.common_cols]
        self.cols_to_train.append('timestamp')
        print("TRAINING FOR " + str(self.cols_to_train))

        for file in self._datafiles:
            ADL, SENSOR_CODE, SUBJECT_ID, TRIAL_NO = file.split('/')[-1].split('_')

            if SENSOR_CODE != self._train_for:
                continue

            columns = None
            if SENSOR_CODE == 'acc' and self._train_for == 'acc':
                df = pd.read_csv(file, skiprows=16, names=self.acc_columns)
                df['activity'] = ADL
                df['subject_id'] = SUBJECT_ID
                df['trial_id'] = TRIAL_NO.split('.')[0]
                self._all_data = self._all_data.append(df, ignore_index=True, sort=True)
            elif SENSOR_CODE == 'ori' and self._train_for == 'ori':
                df = pd.read_csv(file, skiprows=16, names=self.ori_columns)
                df['activity'] = ADL
                df['subject_id'] = SUBJECT_ID
                df['trial_id'] = TRIAL_NO.split('.')[0]
                self._all_data = self._all_data.append(df, ignore_index=True, sort=True)
            elif SENSOR_CODE == 'gyro' and self._train_for == 'gyro':
                df = pd.read_csv(file, skiprows=16, names=self.gyro_columns)
                df['activity'] = ADL
                df['trial_id'] = TRIAL_NO.split('.')[0]
                df['subject_id'] = SUBJECT_ID
                self._all_data = self._all_data.append(df, ignore_index=True, sort=True)

    def get_data_files(self):
        return self._datafiles

    def get_batch(self, batchsize, start_list=None):

        target_df = self._all_data[(self._all_data['subject_id'] == self._target_subject_id)].sort_values(
            by=['activity', 'subject_id', 'trial_id', 'timestamp'], ascending=[True, True, True, True])
        data_size = target_df.shape[0]

        if start_list is None:
            start_pos = [random.randint(1, data_size - self._extract_data_size) for _ in range(data_size)]
        else:
            if len(start_list) != batchsize:
                print('batchisze = ', batchsize)
                print('start_list length = ', len(start_list))
                raise KeyError('batchsize is no equal to start_list length!')
            start_pos = start_list

        train_x = []
        label_y = []
        col_indexes = [target_df.columns.get_loc(column) for column in self.cols_to_train]
        col_indexes.sort()

        for i in range(batchsize):
            train_x.append(target_df.iloc[start_pos[i]:start_pos[i] + self._extract_data_size, col_indexes].values)
            y = target_df.iloc[start_pos[i]:start_pos[i] + self._extract_data_size, target_df.columns.get_loc("activity")]
            y = y.apply(lambda row: self.label_to_numeric(row))
            label_y.append(y.values)

        return np.array(train_x), np.array(label_y)

    def get_test_data(self):
        """
        x shape = [datasize, 3]
        y shape = [datasize ,1]
        :return:
        """

        target_df = self._all_data[(self._all_data['subject_id'] == self._target_subject_id)].sort_values(
            by=self.common_cols, ascending=[True, True, True, True])

        col_indexes = [target_df.columns.get_loc(column) for column in self.cols_to_train]
        col_indexes.sort()
        x = np.array(target_df.iloc[0:10, col_indexes].values)
        y = target_df.iloc[0:10, target_df.columns.get_loc("activity")]
        y = y.apply(lambda row: self.label_to_numeric(row))
        y = np.array(y.values)
        return x, y

    def on_epoch_begin(self, epoch, logs={}):
        # pass all the subjects one by with all the activities one by one
        if epoch < 8:
            self._target_subject_id = '1'
        elif 8 <= epoch < 14:
            self._target_subject_id = '2'
        elif 14 <= epoch < 20:
            self._target_subject_id = '3'
        elif 20 <= epoch < 26:
            self._target_subject_id = '4'
        elif 26 <= epoch < 32:
            self._target_subject_id = '5'

Here we are maiking the data sorted according to

In [105]:
custDf = df[(df['subject_id'] == '1')].sort_values(by=['activity', 'subject_id', 'trial_id', 'timestamp'], ascending=[True, True, True, True])

In [106]:
custDf.columns

Index(['activity', 'subject_id', 'timestamp', 'trial_id', 'x', 'y',
       'z(m/s^2)'],
      dtype='object')

In [107]:
custDf.shape

(9816, 7)

In [134]:
custDf.iloc[0:10, [2,4, 5,6]].head()

            timestamp         x         y  z(m/s^2)
905880  2318482693000  0.890643 -9.576807 -0.019154
905881  2318492108000  0.919373 -9.595961 -0.057461
905882  2318503365000  0.871489 -9.595961 -0.057461
905883  2318512831000  0.852336 -9.643845 -0.038307
905884  2318523222000  0.871489 -9.634268 -0.057461

In [109]:
custDf.shape[0]

9816

In [ ]:
generator = MobiFallGenerator('./dataset/*/*/*/*/*.txt')

TRAINING FOR ['x', 'y', 'z(m/s^2)', 'timestamp']

In [ ]:
generator.get_test_data()

In [ ]:
generator.get_batch(batchsize=5)